@import "styles/variables";
@import "styles/spacing/breakpoints";
@import "styles/typography/typography";
@import "../re-dialog/re-dialog";

.re-modal {
  max-height: 90%;
  max-width: calc(100% - #{$bdu * 4});
  display: flex;
  flex-direction: column;
  padding: $bdu * 3;
  border-radius: $bdu;
  box-shadow: 0 0 $bdu/2 rgba(0, 0, 0, 0.25);

  @media (min-width: $screen-sm-min) {
    min-width: 320px;
    max-width: 640px;
  }

  &__title-container {
    padding: 0 $bdu * 1.5;
    text-align: center;
    flex-grow: 1;
  }

  &__title {
    @include font-style("title-2");

    margin: 0;
  }

  &__close {
    cursor: pointer;
    color: $midnight-blue;
    text-align: left;
    margin-right: auto;
  }

  &__action {
    line-height: 1.5em;
    min-width: $bdu * 2;
    text-align: right;

    .svg-icon {
      display: inline-block;
    }
  }

  &__header {
    display: flex;
    align-items: baseline;

    &--with-actions {
      .re-modal__title-container {
        width: 60%;
        max-width: 60%;
      }

      .re-modal__action {
        width: 20%;
      }
    }
  }

  &__close-icon {
    display: flex;
    font-size: 14px;
    padding: $bdu;
    margin: -$bdu;
  }

  &__description {
    @include font-style("body");
    margin: 0;
    margin-top: $bdu * 1.5;
    width: 100%;
    text-align: center;
  }

  &__content {
    flex-grow: 1;
    overflow-y: auto;
    margin-top: $bdu * 3;
  }

  &__footer {
    margin-top: $bdu * 3;

    &--shadow {
      padding: ($bdu * 2) ($bdu * 3) 0;
      margin: 0 (-$bdu * 3);
      z-index: $z-index-overlay;
      box-shadow: 0 (-$bdu/ 2) ($bdu / 2) rgba(0, 0, 0, 0.07);
    }
  }
}
