.re-transition-height {
  &-enter-active,
  &-leave-active {
    transition: height 0.2s ease-in-out;
    overflow: hidden;
  }

  &-enter-from,
  &-leave-to {
    height: 0;
  }
}

.re-transition-fade {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}

.re-transition-expand {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    transform: scale(1);
    opacity: 1;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: scale(0.8);
  }
}

.re-transition-slide-bottom {
  &-enter-active,
  &-leave-active {
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(0);
  }

  &-enter-from,
  &-leave-to {
    transform: translateY(100%);
  }
}

.re-transition-slide-right {
  &-enter-active,
  &-leave-active {
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(0);
  }

  &-enter-from,
  &-leave-to {
    transform: translateX(100%);
  }
}
