@import "@reservando/design-system/styles/typography";
@import "@reservando/design-system/styles/variables";
@import "./spacing";
@import "./examples";

.sb-show-main {
  color: $text-primary;
  font-family: $font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

.sbdocs {
  // &.sbdocs-preview {
  //   background-color: $background-primary;
  // }

  .sbdocs-h1 {
    color: $text-highlight;
    letter-spacing: -1px;
  }

  .sbdocs-h2 {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: $font-weight-regular;
  }

  .sbdocs-h3 {
    font-size: 18px;
    font-weight: $font-weight-regular;
  }

  .sbdocs-h4 {
    font-size: 16px;
    font-weight: $font-weight-regular;
  }

  .sbdocs-a {
    font-weight: $font-weight-regular;
  }

  .docblock-argstable-body {
    button {
      cursor: pointer !important;
    }
  }
}
