<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8"/>
  <title>Reservando</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= require('./src/assets/images/apple-touch-icon.png') %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= require('./src/assets/images/favicon-32x32.png') %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= require('./src/assets/images/favicon-16x16.png') %>">
</head>
<body>
  <div id="app"></div>
</body>
</html>
