@import "../../styles/variables.scss";
@import "../ReButton/buttons.scss";

.re-button-round {
  font-weight: $font-weight-bold;
  cursor: pointer;
  font-family: inherit;
  padding: 1em;
  text-decoration: none;
  border-radius: 50%;

  &--small {
    font-size: 20px;
    padding: $bdu;
  }

  &--medium {
    font-size: 24px;
    padding: $bdu * 1.5;
  }

  &--large {
    font-size: 24px;
    padding: $bdu * 2;
  }

  &--primary {
    @include cta-generator($primary-500, $primary-600, $primary-700, $black, $white, $grey-300);
  }

  &--secondary {
    @include cta-generator($white, $grey-200, $grey-300, $black, $black, $grey-300, $grey-500);
  }
}
