// -------------------------------------------------------------------------------
//  Buttons
//
// 💁‍ use variables rather than hard-coded pixel/REM values
// -------------------------------------------------------------------------------

$btn-border-width: 1px;
$btn-border-style: solid;

/**
* Cta styles
*/
@mixin cta-generator($color, $hover, $press, $focus, $font, $disabled, $border: transparent) {
  color: $font;
  background: $color;
  @if $border {
    border-color: $border;
  } @else {
    border-color: $color;
  }
  border-style: $btn-border-style;
  border-radius: $bdu;
  border-width: $btn-border-width;
  transition: background-color 0.2s ease-out;
  outline: 0;

  &:hover {
    background: $hover;
    @if $border {
      border-color: $border;
    } @else {
      border-color: $hover;
    }
  }

  &:active {
    background: $press;
    @if $border {
      border-color: $border;
    } @else {
      border-color: press;
    }
  }

  &:disabled {
    color: $grey-600;
    background: $disabled;
    border-color: $grey-300;
    cursor: not-allowed;
  }

  &:focus:not(:hover) {
    color: $font;
    background: $color;
    border-color: $focus;
  }
}

/**
* Link styles
*/
@mixin link-generator($color, $hover, $press, $focus) {
  text-decoration: none;
  background: transparent;
  border: 0;
  color: $color;
  transition: color 0.2s ease-out;
  padding: 0.25em 0.5em;
  outline: 0;

  &:hover {
    color: $hover;
  }

  &:active {
    color: $press;
  }

  &:disabled {
    color: $grey-600;
    background: transparent;
    cursor: not-allowed;
  }

  &:focus:not(:hover) {
    color: $focus;
  }
}
