.page {
  .page-content {
    padding: 20px;
    flex-direction: row;
  }

  .page-title {
    display: flex;
    margin-top: $base-design-unit * 4;
  }

  .page-container {
    &.page-container--normal {
      max-width: $container-max-width-medium;
    }

    &.page-container--full {
      max-width: $container-max-width-large;
    }

    &.page-container--hero {
      .page-title {
        height: 180px;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        background-color: $glacial-blue;
        width: 100%;
        text-align: center;

        h1 {
          width: 100%;
        }
      }
    }
  }

  .page-actions {
    flex-grow: 1;
    text-align: right;
    margin-top: 0;

    .button {
      width: auto;
      border: inherit;
      border-radius: inherit;
      padding-bottom: 0;
    }
  }
}
