.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  &__development-banner,
  &__unsupported-browser-banner {
    width: 100%;
  }

  .page-content {
    padding: $base-design-unit * 2;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
  }

  .page-container {
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    display: flex;
    flex-direction: column;

    .page-title {
      margin: $base-design-unit * 2 0 $base-design-unit * 2;
      padding: 0 $base-design-unit * 2;
      align-items: flex-end;

      h1 {
        @include font-style("title-1");

        margin: 0;
      }
    }

    &.page-container--hero {
      .page-title {
        height: 180px;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        background-color: $glacial-blue;
        width: 100%;
        text-align: center;

        h1 {
          width: 100%;
        }
      }
    }
  }

  .page-list {
    display: inline-block;
    position: relative;
    flex: 1;
    width: 100%;
  }

  .page-actions {
    margin-top: $base-design-unit * 2;

    .button {
      font-weight: $font-weight-medium;
      padding: 8px 6px;
      width: 100%;
      border: 1px solid $muted-blue;
      text-align: left;
      border-radius: 0;
    }
  }

  .page-breadcrumb {
    margin: $base-design-unit * 2 0 $base-design-unit * 4;
    padding-left: $base-design-unit * 2;
  }
}

.page-container--normal,
.page-container--hero {
  .page-content {
    background-color: $light-ash;
  }
}
