@import "~@/assets/styles/variables";

.re-bottom-sheet {
  max-height: 90%;
  display: flex;
  flex-direction: column;
  padding: ($bdu * 3) 0;
  border-top-left-radius: $bdu;
  border-top-right-radius: $bdu;
  box-shadow: 0 0 $bdu/2 rgba(0, 0, 0, 0.25);

  &__title-container {
    padding: 0 ($bdu * 1.5);
    text-align: center;
    flex-grow: 1;
  }

  &__title {
    font-weight: $font-weight-medium;
    margin: 0;
  }

  &__close {
    cursor: pointer;
    color: $grape;
    text-align: left;
    margin-right: auto;
  }

  &__action {
    line-height: 1.5em;
    min-width: $bdu * 2;
    text-align: right;
  }

  &__header {
    display: flex;
    align-items: baseline;
    padding: 0 ($bdu * 2);

    &--with-actions {
      .re-bottom-sheet__title-container {
        width: 50%;
        max-width: 50%;
      }

      .re-bottom-sheet__action {
        width: 25%;
      }
    }
  }

  &__close-icon {
    display: flex;
    font-size: 14px;
    padding: $bdu;
    margin: -$bdu;
  }

  &__divider {
    margin: ($bdu * 3) (-$bdu * 2);
    border-width: 1px 0 0 0;
    border-color: $border-color;
    border-style: solid;

    &--header {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 0 ($bdu * 2);
  }

  &__footer {
    padding: 0 ($bdu * 2);
    margin-top: ($bdu * 3);

    &--shadow {
      padding: ($bdu * 2) ($bdu * 2) 0;
      margin-top: 0;
      z-index: $z-index-overlay;
      box-shadow: 0 (-$bdu/ 2) ($bdu / 2) rgba(0, 0, 0, 0.07);
    }
  }
}
