@import "reset";
@import "variables";
@import "buttons";
@import "typography";
@import "design-system";

body {
  font-family: "GT Eesti", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: $base-font-size;
  color: $midnight-blue;
}

a {
  color: $midnight-blue;
}

textarea {
  height: 40px;
  font-family: "GT Eesti", Arial, sans-serif;

  @extend %input;

  @include font-style("body");

  padding: $base-design-unit / 2 0 $base-design-unit / 2 $base-design-unit;
  border-radius: $border-radius;
  border-width: 1px;

  &::placeholder {
    @include font-style("body");
  }

  &[readonly="readonly"] {
    cursor: pointer;
  }

  &.is-short {
    width: 60px;
    min-width: 60px;
  }

  &.is-large {
    width: 100%;
  }
}

input[type="number"][readonly="readonly"] {
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input[type="radio"] {
  margin: 0 $base-design-unit 0 0;
  padding: 0;
}

.input-label {
  display: block;
  padding-bottom: $base-design-unit / 2;
  font-weight: $font-weight-medium;
}

.intro-text {
  padding-bottom: $base-design-unit * 2;

  @include font-style("body");
}

.form-item {
  margin: $base-design-unit * 3 0;
}

.form-item-inline {
  flex-basis: 50%;
  margin-right: $base-design-unit * 2;

  &:last-child {
    margin: 0;
  }
}

.is-inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inline-input-container {
  display: flex;
  align-items: baseline;
}

.section {
  margin-bottom: $base-design-unit * 6;
}

.indented-section {
  margin: $base-design-unit * 2 0 $base-design-unit * 2 26px;
  padding-left: $base-design-unit * 2;
  border-left: 4px solid $border-color;
}

.explanation {
  display: block;
}

.error {
  color: $danger;
}

.is-disabled-section {
  color: $muted-blue;
}

.section-question {
  font-weight: $font-weight-medium;
  padding-bottom: $base-design-unit;
  display: block;

  &.underlined-question {
    border-bottom: 3px solid $border-color;
    padding-bottom: $base-design-unit;
  }
}

.checkbox-label {
  @include font-style("body");
}

.notice {
  margin: $base-design-unit * 2 0;
  color: $danger;
}

.instructions {
  margin: 0 0 $base-design-unit * 2;

  @include font-style("body");

  .instruction {
    padding: $base-design-unit / 2 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  .sub-instruction {
    margin-top: $base-design-unit;
    margin-left: $base-design-unit;

    .instruction {
      list-style-position: outside;
      list-style-type: circle;
    }
  }
}

.faq-link {
  text-align: right;
  display: block;
  color: $midnight-blue;
  text-decoration: underline;
}

.examples {
  background: $light-ash;
  padding: $base-design-unit * 2;
  margin: $base-design-unit 0 $base-design-unit * 2;

  .examples-title {
    margin: 0 0 $base-design-unit / 2;

    @include font-style("caption");

    font-weight: $font-weight-medium;
  }

  .example {
    @include font-style("caption");

    padding: $base-design-unit / 4 0;
    display: flex;
    align-items: center;

    .text {
      padding-left: $base-design-unit;
    }

    .icon-good,
    .icon-bad {
      display: flex;
    }
  }

  .bad-examples {
    margin-top: $base-design-unit;
  }
}

.filter-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

  @media screen and (min-width: $screen-sm) {
    display: none;
  }
}

.save-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: $base-design-unit * 2 0;
}
