@import "~@reservando/design-system/styles/typography/typography";
@import "~@reservando/design-system/styles/components/inputs";
@import "./variables";

%form-element-border {
  border-radius: $border-radius;
  border: 1px solid $border-color;

  &.has-error {
    border-color: $danger;
  }

  &.is-valid {
    border-color: $hillside-green;
  }

  &[disabled="disabled"],
  &.is-disabled {
    background: $light-slate;
  }

  &:focus {
    border-color: $poolside-blue;
    outline: 0;
    box-shadow: none;
  }
}

%font-element-small {
  @include font-style("caption");

  &::placeholder {
    @include font-style("caption");
  }
}

%font-element-medium {
  @include font-style("caption");

  &::placeholder {
    @include font-style("caption");
  }
}

%font-element-large {
  @include font-style("body");

  &::placeholder {
    @include font-style("body");
  }
}

%form-element {
  display: block;
  width: 100%;
  color: $midnight-blue;
  background-color: $white;
  font-family: "GT Eesti", Arial, sans-serif;

  @extend %form-element-border;
}

%form-element-small {
  height: 28px;
  padding: $base-design-unit / 2;

  @extend %font-element-small;
}

%form-element-medium {
  height: 36px;
  padding: $base-design-unit;

  @extend %font-element-medium;
}

%form-element-large {
  height: 40px;
  padding: $base-design-unit * 1.5;
  padding-right: $base-design-unit;

  @extend %font-element-large;
}
