//Base
$base-design-unit: 8px;
$bdu: $base-design-unit;
$border-radius: 4px;


$container-max-width-medium: 970px;
$container-max-width-large: 1024px;
$container-min-width: 320px;
$container-padding: $base-design-unit * 12;
$container-single-column-width: 630px;
$container-double-column-width: 307px;

// Font
$base-font-size: 16px;
$base-font-weight: 400;
$base-line-height: 1.4em;
$font-weight-medium: 500;
$font-weight-bold: 600;


// Z-Index
$z-index-base: 1;
$z-index-loading: 5;
$z-index-menu: 10; // Ex: On hover menu like Header menu
$z-index-overlay: 20; // Ex: Dark overlay when modal opened
$z-index-modal: 30; // Ex: Modal content

$screen-md: 1024px !default;
$screen-md-min: $screen-md !default;
$screen-sm-max: ($screen-md-min - 1) !default;

// Colors
$grape: #624c67;
$black-purple: #320036;
$red-pastel: #ee7a6c;
$red-link: #d3424b;
$white: #fff;
$background-primary: #fffef8;

$border-primary: $grape;
$border-secondary: #ccc;

$text-primary: #2b2b2b;
$text-secondary: #949494;
$text-highlight: $black-purple;
$btn-disabled: #EEEBEF;

$surface-disabled: #ccc;

