$base-design-unit: 8px;
$bdu: $base-design-unit;
$base-font-size: 16px;
$border-radius: 4px;
$border-color: #ccc;
$container-max-width-medium: 970px;
$container-max-width-large: 1024px;
$container-min-width: 320px;
$container-padding: $base-design-unit * 12;
$container-single-column-width: 630px;
$container-double-column-width: 307px;
$font-weight-medium: 500;

// Z-Index
$z-index-base: 1;
$z-index-loading: 5;
$z-index-menu: 10; // Ex: On hover menu like Header menu
$z-index-overlay: 20; // Ex: Dark overlay when modal opened
$z-index-modal: 30; // Ex: Modal content

$screen-md: 1024px !default;
$screen-md-min: $screen-md !default;
$screen-sm-max: ($screen-md-min - 1) !default;
