@import "../../styles/variables";

$padding-y: 0.5em;
$padding-x: 0.75em;

.re-input {
  display: flex;
  position: relative;
  color: $grape;
  font-weight: 500;

  &__field {
    padding: $padding-y $padding-x;
    width: 100%;
    line-height: normal;
    font-size: 1em;
    font-weight: inherit;
    text-align: inherit;
    font-family: inherit;
    color: inherit;
    outline: 0;

    &--underline {
      border: 0;
      border-bottom: 2px solid $grape;
      background-color: transparent;
    }

    &--outline {
      border: 1px solid $border-primary;
      border-radius: $bdu * 1.5;
      background-color: $white;
    }

    &::placeholder {
      color: $text-secondary;
    }
  }

  &__icon {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    color: inherit;
    pointer-events: none;

    &--preicon {
      left: $padding-x;

      & ~ .re-input__field {
        padding-left: $padding-x * 3;
      }
    }

    &--posticon {
      right: $padding-x;

      & ~ .re-input__field {
        padding-right: $padding-x * 3;
      }
    }
  }
}
