@import "../../styles/variables";

.re-checkbox {
  display: flex;
  position: relative;
  align-items: center;
  align-content: flex-start;
  color: $text-primary;
  transition: background-color 0.2s;
  padding: ($bdu * 1.5) $bdu;
  border-radius: $bdu;

  &:hover,
  &:active {
    background-color: $primary-100;
  }

  &--inverted {
    flex-direction: row-reverse;
  }

  &--contained {
    background-color: $white;
    border: 1px solid $grey-500;
    flex-direction: row-reverse;
  }

  &__container {
    position: relative;
    display: flex;
    margin-right: 0.5em;
  }

  &__input {
    cursor: pointer;
    background-color: $white;
    height: 1em;
    width: 1em;
    font-size: 1em;
    padding: 0;
    margin: 0 !important;
    border: $primary-300 2px solid;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
    border-radius: $bdu / 2;

    &:focus {
      outline: 0;
    }
  }

  &__input:indeterminate {
    background-color: $border-primary;
    border-color: $border-primary;

    & + .re-checkbox__check {
      $height: 0.125em;
      $width: 0.5em;
      left: calc(50% - #{$width/2});
      top: calc(50% - #{$height/2});
      height: $height;
      width: $width;
      border-bottom: $height $white solid;

      &:before {
        transform: none;
      }
    }
  }

  &__label {
    cursor: pointer;
    align-self: stretch;
    font-size: 1em;
    flex-grow: 1;
    text-align: left;
  }

  &__check {
    pointer-events: none;
    $width: 0.625em;
    $height: 0.25em;

    display: block;
    position: absolute;
    left: calc(50% - #{$width/2});
    top: calc(50% - #{$height/2});
    height: $height;
    width: $width;

    &::before {
      transition: border-color 0.3s ease;
      border-color: $border-primary;
      display: block;
      content: "";
      box-sizing: border-box;
      height: 100%;
      width: 100%;
    }
  }

  &--checked {
    .re-checkbox__input {
      background-color: $primary-500;
      border-color: $primary-500;
    }

    .re-checkbox__check::before {
      transform: rotate(-45deg);
      border-left: 0.125em $white solid;
      border-bottom: 0.125em $white solid;
    }
  }

  &--disabled {
    .re-checkbox__input {
      background: $white;
      border-color: $grey-400;
      cursor: not-allowed;
    }

    .re-checkbox__check::before {
      border-color: $border-primary;
    }

    .re-checkbox__label {
      color: $text-secondary;
      cursor: not-allowed;
    }
  }
}
