// Colors
$grey-200: #f4f5f8;
$grey-300: #e9ebf0;
$grey-400: #dde0ea;
$grey-500: #c7ccdd;
$grey-600: #8893b2;
$grey-700: #515c80;
$grey-800: #292f40;
$grey-900: #100817;

$primary-100: #f6f0fa;
$primary-200: #e3d2f0;
$primary-300: #be97dd;
$primary-400: #9a66cd;
$primary-500: #7135a1;
$primary-600: #612d8a;
$primary-700: #3b096d;
$primary-800: #301745;
$primary-900: #100817;

$white: #fff;
$black: #000;
$green-feedback: #56ccb5;
$red-feedback: #c74760;

// Variables
$background-primary: $white;
$border-primary: $grey-400;
$border-secondary: $grey-500;

$text-primary: $primary-900;
$text-secondary: $grey-700;
$text-highlight: $primary-800;

$btn-primary: $primary-500;
$btn-disabled: $grey-900;

$surface-disabled: $grey-300;

:export {
  primary-100: $primary-100;
  primary-200: $primary-200;
  primary-300: $primary-300;
  primary-400: $primary-400;
  primary-500: $primary-500;
  primary-600: $primary-600;
  primary-700: $primary-700;
  primary-800: $primary-800;
  primary-900: $primary-900;

  grey-200: $grey-200;
  grey-300: $grey-300;
  grey-400: $grey-400;
  grey-500: $grey-500;
  grey-600: $grey-600;
  grey-700: $grey-700;
  grey-800: $grey-800;
  grey-900: $grey-900;

  others-white: $white;
  others-black: $black;
  others-green-feedback: $green-feedback;
  others-red-feedback: $red-feedback;
}
