@import "reset";
@import "variables";
@import "typography";

html,
body {
  height: 100%;
}

body {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  color: $text-primary;
  display: flex;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: $base-font-weight;
  justify-content: center;
  align-items: center;
  background-color: $background-primary;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
