@import "reset";
@import "variables";

html,
body {
  height: 100%;
}

body {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  color: $text-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-primary;

  @extend .re-body-16;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
